body {
  background-attachment: fixed;
  background-image:url(List.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.add {
  margin-top: 5px;
  background:#9FC9F3 ;
  padding: 10px;
  border: none;
  width: 20%;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.delete {
  margin-bottom: 5px;
  background:#A460ED ;
  padding: 10px;
  border: none;
  width: 20%;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.app {
  margin-top: 300px;
}

.crossed {

  text-decoration: line-through 2px red;

  background-color: #f0f0f0;

}

ul,li {
  margin: 0;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  list-style-type: none;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

input {
 width: 30%;
 padding: 8px;
 margin: 10px;
 font-family: 'Montserrat', sans-serif;
}
